body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-bottom: 90px; /* footer 높이만큼 마진 추가 */
}
